/* universalselektor */
* {
    box-sizing: border-box; /* border inkluderas när t ex width anges. Vill ofta ha med denna*/
}

/* aanvända klass */
.main-nav {

    color: teal;
}

/* arvselektor */
li a {
    color: hotpink;
}

/* använda id */
#selected-link {
    font-weight: bold;
    text-decoration: underline;
}

/* pseudoklass */
li:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

/* pseudoklass */
a:visited {
    color: yellowgreen;
}

input[type="text"] {
    background-color: cyan;
    color: magenta;
    border-color: yellow;
}

.container > ul {
    color: hotpink;
}

/* first child */
ul li:first-child {
    color: blue;
}

/* last child */
ul li:last-child {
    color: rebeccapurple;
}

/* adjacent sibling selector */
ul + p {
    font-style: italic;
}

/* general sibling selector */
ul ~ p {
    border-color: blue;
    border-width: 5px;
}

/* X:nth child(n) */
li:nth-child(3) {
    text-decoration: line-through;
    color: black;
}

/* X:nth-of-type */
main li:nth-of-type(2) {
    border: 3px dotted blueviolet;
}